.about{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position:absolute;
  z-index: 2;
}

.carouselWrapper{
  margin-top: 100px;
  width: 60%;
  display: flex;
  justify-content: center;
}