@import "../../mixins";

.galleryWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;

  div{
    @include respond(tab-land){
      padding:30px 100px 0 100px;
    }
  }
}